<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그 패턴: 날짜, 스레드, 로그 레벨, 클래스명, 메시지 -->
    <property name="STDOUT_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- 콘솔 출력용 appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- 모든 로그는 콘솔로만 출력 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
